nav ul li {
    display: inline;
    margin-right:10px;
}

header {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li a {
    font-family: arial,sans-serif;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-size: 0.75em;
}

#search-container img {
    max-width: 200px;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#search-container input[type="text"] {
    border-radius: 15px;
    border-width: 1px;
    height: 3vh;
    width: 50vh;
    padding-left: 15px;
}

#advanced-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 30px;
}

#search-button {
    border: 1px solid #f8f9fa;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 0;
}

#search-button:hover {
    border-color: lightgray;
}

#advanced-search-button {
    margin-top: 10px;
    height: 30px;
    color: #fff;
    background-color: #4d90fe;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #3079ed;
    cursor: pointer;
    user-select: none;
}

#search-button:hover {
    background-color: #808080; /* Change the background color on hover */
}


.advanced-search-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.advanced-search-field label {
    width: 200px;
}
