{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    
    <p>Description: {{ listing.description }}</p>
    <h3>Bids</h3>
    <ul>
        {% if listing.bids.all %}
            {% for bid in listing.bids.all %}
                <li>{{ bid.bid_amount }}</li>
            {% endfor %}
        {% else %}
            <p>No bids have been placed yet.</p>
        {% endif %}

    </ul>
    
    {% if user.is_authenticated %}

        {% if user == listing.creator and not listing.closed %}
            <form method="POST" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                <button type="submit" name="close_auction">Close Auction</button>
            </form>
        {% endif %}

        {% if won_auction %}
            <div class="alert alert-success">
                Congratulations! You won the auction.
            </div>
        {% endif %}


        <form method="post" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            {{ bid_form.as_p }}
            <button type="submit" name="bid_form_submit">Place Bid</button>

        </form>

        <form method="post" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" name="comment_form_submit">Add Comment</button>
        </form>

        <form method="post" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            <button type="submit" name="watchlist_submit">
                {% if is_in_watchlist %}Remove from Watchlist{% else %}Add to Watchlist{% endif %}
            </button>
        </form>
        
    {% endif %}
    
    <p>Creator: {{ listing.creator.username }}</p>

    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
            <li>{{comment.commenter.username}} : {{ comment.text }}</li>
        {% endfor %}
    </ul>
{% endblock %}
