textarea {
    min-height: 400px;
}

.email {
    border: 1px solid #ccc; /* Add a border around the email box */
    padding: 10px; /* Add some padding to the email box */
    margin-bottom: 10px; /* Add spacing between email boxes */
  }

.email-read {
    background-color: lightgray;
  }
  
.email-unread {
background-color: white;
}